/*
.header-bar.default-decoration {
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  background-image: linear-gradient(to bottom,
  shade(@theme_bg_color, 1.05),
  shade(@theme_bg_color, 0.99));
  box-shadow: inset 0 1px shade(@theme_bg_color, 1.4);
}

.header-bar.default-decoration .button.titlebutton {
  padding-top: 2px;
  padding-bottom: 2px;
}
*/

/* No line below the title bar */
.ssd .titlebar {
  border-width: 0;
  box-shadow: none;
}

/* Menu bar with same color as the title bar */
.menubar {
  background-color: @theme_bg_color;
}

.window-frame, .titlebar, .header-bar {
  border-radius: 0;
}
