[Desktop Entry]
Name=Skype
Comment=Skype Internet Telephony
Exec=skype --dbpath=/home/gwinn/.local/share/Skype %U
Icon=skype.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
X-KDE-Protocols=skype
